In [1]:
import os
import pandas as pd
import numpy as np
import datetime as dt
import wrds
import psycopg2
import matplotlib.pyplot as plt
from dateutil.relativedelta import *
from pandas.tseries.offsets import *
from scipy import stats
pd.set_option('display.max_columns', None)

In [2]:
def sz_bucket(row):
    if row['me']==np.nan:
        value=''
    elif row['me']<=row['sizemedn']:
        value='S'
    else:
        value='B'
    return value

def bm_bucket(row):
    if 0<=row['beme']<=row['bm30']:
        value = 'L'
    elif row['beme']<=row['bm70']:
        value='M'
    elif row['beme']>row['bm70']:
        value='H'
    else:
        value=''
    return value

def op_bucket(row):
    # 不需要 <= 0
    if  row['op']<=row['op30']:
        value = 'W'
    elif row['op']<=row['op70']:
        value='N'
    elif row['op']>row['op70']:
        value='R'
    else:
        value=''
    return value


def inv_bucket(row):
    # 不需要 <= 0
    if  row['inv']<=row['inv30']:
        value = 'C'
    elif row['inv']<=row['inv70']:
        value='N'
    elif row['inv']>row['inv70']:
        value='A'
    else:
        value=''
    return value


def wavg(group, avg_name, weight_name):
    d = group[avg_name]
    w = group[weight_name]
    try:
        return (d * w).sum() / w.sum()
    except ZeroDivisionError:
        return np.nan

In [3]:
comp = pd.read_csv("./comp_na_daily_all.csv", parse_dates=['datadate'])
crsp = pd.read_csv("./crsp_monthly.csv", parse_dates=['date'])

In [4]:
comp['datadate'] = pd.to_datetime(comp['datadate'])
comp['year'] = comp['datadate'].dt.year
comp['gvkey'] = comp['gvkey'].astype(str)

comp['ps']=np.where(comp['pstkrv'].isnull(), comp['pstkl'], comp['pstkrv'])
comp['ps']=np.where(comp['ps'].isnull(),comp['pstk'], comp['ps'])
comp['ps']=np.where(comp['ps'].isnull(),0,comp['ps'])
comp['txditc']=comp['txditc'].fillna(0)

comp['be'] = comp['seq'] + comp['txditc'] - comp['ps']
comp['be'] = np.where(comp['be'] > 0, comp['be'], np.nan)
print(comp['be'].head(50))

"""
加入operating income
首先把revt cogs xsga xint中的NaN变成0
"""
comp[['revt','cogs','xsga','xint']] = comp[['revt','cogs','xsga','xint']].fillna(0)
comp['op'] = comp['revt'] - comp['cogs'] - comp['xsga'] - comp['xint']
comp['op'] = comp['op'] / (comp['be'] + comp['mib'])
# print(comp)

"""
我需要计算年at growth rate
"""
comp['lat'] = comp.groupby(['gvkey'])['at'].shift(1)
comp['inv'] = comp['at'] / comp['lat']  -  1
# print(comp)

comp = comp.sort_values(by=['gvkey', 'datadate'])
comp['count'] = comp.groupby(['gvkey']).cumcount()

comp = comp[['gvkey', 'datadate', 'year', 'be', 'count','op','inv']]
print(comp.sort_values(['gvkey','year']).head(50))

0        NaN
1        NaN
2      0.561
3      0.627
4      0.491
5      0.834
6      0.744
7      2.571
8     10.211
9     10.544
10     8.382
11     7.309
12     8.798
13     8.279
14    11.020
15    15.527
16    17.673
17       NaN
18       NaN
19       NaN
20       NaN
21       NaN
22     7.823
23     9.319
24    13.665
25       NaN
26       NaN
27       NaN
28       NaN
29       NaN
30       NaN
31       NaN
32       NaN
33     5.972
34       NaN
35       NaN
36       NaN
37       NaN
38       NaN
39       NaN
40     1.983
41     6.095
42     6.482
43     6.665
44     7.458
45     7.643
46       NaN
47       NaN
48     1.443
49     2.712
Name: be, dtype: float64
        gvkey   datadate  year       be  count        op       inv
0        1000 1961-12-31  1961      NaN      0       NaN       NaN
1        1000 1962-12-31  1962      NaN      1       NaN       NaN
2        1000 1963-12-31  1963    0.561      2  0.046346       NaN
3        1000 1964-12-31  1964    0.627      3  0.149920       NaN
4        1000 1965-12-31  1965    0.491      4 -0.452138  0.631356
5        1000 1966-12-31  1966    0.834      5  0.515588  0.051948
6        1000 1967-12-31  1967    0.744      6  0.139785  0.010700
7        1000 1968-12-31  1968    2.571      7  0.369506  1.411238
8        1000 1969-12-31  1969   10.211      8  0.434923  3.848362
9        1000 1970-12-31  1970   10.544      9  0.430197  0.165018
10       1000 1971-12-31  1971    8.382     10  0.166428 -0.123169
11       1000 1972-12-31  1972    7.309     11  0.454919 -0.321275
12       1000 1973-12-31  1973    8.798     12  0.432939  0.093635
13       1000 1974-12-31  1974    8.279     13  0.483513  0.177622
14       1000 1975-12-31  1975   11.020     14  0.504265 -0.067595
15       1000 1976-12-31  1976   15.527     15  0.499517  0.614139
16       1000 1977-12-31  1977   17.673     16  0.246534  0.140958
191466  10000 1960-12-31  1960      NaN      0       NaN       NaN
191467  10000 1961-12-31  1961      NaN      1       NaN  0.138462
191468  10000 1962-12-31  1962      NaN      2       NaN  0.121622
191469  10000 1963-12-31  1963      NaN      3       NaN  0.566265
191470  10000 1964-12-31  1964      NaN      4       NaN  0.130769
191471  10000 1965-12-31  1965      NaN      5       NaN  0.183673
191472  10000 1966-12-31  1966    7.230      6  0.207469  0.017241
191473  10000 1967-12-31  1967    7.898      7  0.248164  0.033898
191474  10000 1968-12-31  1968   10.865      8  0.319374  0.071038
191475  10000 1969-12-31  1969   13.315      9  0.301314  0.069439
191476  10000 1970-12-31  1970   15.700     10  0.303694  0.201565
191477  10000 1971-12-31  1971   18.623     11  0.349246  0.099500
191478  10000 1972-12-31  1972   21.105     12  0.291921  0.227178
191479  10000 1973-12-31  1973   21.705     13  0.230408  0.159286
191480  10000 1974-12-31  1974   23.196     14  0.209821  0.115215
191481  10000 1975-12-31  1975   25.611     15  0.268869 -0.017093
191482  10000 1976-12-31  1976   29.693     16  0.355235  0.084383
191483  10000 1977-12-31  1977   34.449     17  0.349996  0.180554
191484  10000 1978-12-31  1978   39.418     18  0.347658  0.206736
191485  10000 1979-12-31  1979   43.478     19  0.227356  0.248186
191486  10000 1980-12-31  1980   45.447     20  0.107642  0.140448
191487  10000 1981-12-31  1981   55.979     21  0.359885  0.158966
191488  10000 1982-12-31  1982   78.624     22  0.349588  0.139106
191489  10000 1983-12-31  1983   98.230     23  0.393790  0.205982
191490  10000 1984-12-31  1984  114.404     24  0.316186  0.193440
191491  10000 1985-12-31  1985  120.917     25  0.156760 -0.031905
191492  10000 1986-12-31  1986  140.100     26  0.244889  0.426553
191493  10000 1987-12-31  1987  152.351     27  0.208118  0.112522
191494  10000 1988-12-31  1988  157.632     28  0.102670  0.276479
191495  10000 1989-12-31  1989  154.037     29  0.149217  0.147367
191496  10000 1990-12-31  1990  156.829     30  0.107601  0.039558
191497  10000 1991-12-31  1991  159.061     31  0.102068 -0.069519
191498  10000 1992-12-31  1992  164.398     32  0.120506 -0.045385

In [5]:
crsp.columns = crsp.columns.str.lower()
crsp['jdate']=crsp['date']+MonthEnd(0)
crsp[['ret', 'retx','dlret']] = crsp[['ret', 'retx','dlret']].apply(pd.to_numeric, errors='coerce')
crsp[['permco','permno','shrcd','exchcd']]=crsp[['permco','permno','shrcd','exchcd']].astype(int)

crsp['retadj'] = (1 + crsp['ret']) * (1 + crsp['dlret']) - 1

crsp['me'] = crsp['prc'].abs() * crsp['shrout']

crsp = crsp.drop(['dlret', 'prc', 'shrout'], axis=1)
crsp = crsp.sort_values(by=['jdate', 'permco', 'me'])

crsp_summe = crsp.groupby(['jdate', 'permco'])['me'].sum().reset_index()

crsp_maxme = crsp.groupby(['jdate', 'permco'])['me'].max().reset_index()
print(crsp_maxme)

crsp1 = pd.merge(crsp, crsp_maxme, how='inner', on=['jdate', 'permco', 'me'])
# print(crsp1)

crsp1 = crsp1.drop(['me'], axis=1)

# print(crsp_summe)

crsp2 = pd.merge(crsp1, crsp_summe, how='inner', on=['jdate', 'permco'])

crsp2 = crsp2.sort_values(by=['permno', 'jdate']).drop_duplicates()
# print(crsp2)

             jdate  permco           me
0       1960-01-31      74   20749.5000
1       1960-01-31     267   42066.0000
2       1960-01-31     584   35659.0000
3       1960-01-31     921   31020.0000
4       1960-01-31     994   13369.8750
...            ...     ...          ...
4203667 2023-12-31   59749  551423.1000
4203668 2023-12-31   59750   90108.1975
4203669 2023-12-31   59751   13319.6749
4203670 2023-12-31   59752  152025.4800
4203671 2023-12-31   59753    1040.9750

[4203672 rows x 3 columns]

In [6]:
crsp2['jdate'] = pd.to_datetime(crsp2['jdate'])
crsp2['year'] = crsp2['jdate'].dt.year
crsp2['month'] = crsp2['jdate'].dt.month
decme = crsp2[crsp2['month'] == 12]
decme = decme[['permno', 'date', 'jdate', 'me', 'year']].rename(columns={'me': 'dec_me'})

In [7]:
crsp2['ffdate'] = crsp2['jdate'] + MonthEnd(-6)
crsp2['ffyear'] = crsp2['ffdate'].dt.year
crsp2['ffmonth'] = crsp2['ffdate'].dt.month
crsp2['1+retx'] = 1 + crsp2['retx']
crsp2 = crsp2.sort_values(by=['permno', 'date'])
print(crsp2)

crsp2['cumretx'] = crsp2.groupby(['permno', 'ffyear'])['1+retx'].cumprod()

crsp2['lcumretx'] = crsp2.groupby(['permno'])['cumretx'].shift(1)

crsp2['lme'] = crsp2.groupby(['permno'])['me'].shift(1)

crsp2['count'] = crsp2.groupby(['permno']).cumcount()
crsp2['lme'] = np.where(crsp2['count'] == 0, crsp2['me'] / crsp2['1+retx'], crsp2['lme'])
print(crsp2.sort_values(['permco','date']).head(60))

mebase = crsp2[crsp2['ffmonth'] == 1][['permno', 'ffyear', 'lme']].rename(columns={'lme': 'mebase'})

crsp3 = pd.merge(crsp2, mebase, how='left', on=['permno', 'ffyear'])

crsp3['wt'] = np.where(crsp3['ffmonth'] == 1, crsp3['lme'], crsp3['mebase'] * crsp3['lcumretx'])
crsp3 = crsp3.sort_values('ffyear')
print(crsp3)

         permno       date  shrcd  exchcd  permco       ret      retx  \
1169225   10000 1986-01-31     10       3    7952       NaN       NaN
1175474   10000 1986-02-28     10       3    7952 -0.257143 -0.257143
1181734   10000 1986-03-31     10       3    7952  0.365385  0.365385
1188016   10000 1986-04-30     10       3    7952 -0.098592 -0.098592
1194308   10000 1986-05-30     10       3    7952 -0.222656 -0.222656
...         ...        ...    ...     ...     ...       ...       ...
4175572   93436 2023-08-31     11       3   53453 -0.034962 -0.034962
4181866   93436 2023-09-29     11       3   53453 -0.030456 -0.030456
4188144   93436 2023-10-31     11       3   53453 -0.197346 -0.197346
4194402   93436 2023-11-30     11       3   53453  0.195379  0.195379
4200623   93436 2023-12-29     11       3   53453  0.034988  0.034988

             jdate  retadj            me  year  month     ffdate  ffyear  \
1169225 1986-01-31     NaN  1.610000e+04  1986      1 1985-07-31    1985
1175474 1986-02-28     NaN  1.196000e+04  1986      2 1985-08-31    1985
1181734 1986-03-31     NaN  1.633000e+04  1986      3 1985-09-30    1985
1188016 1986-04-30     NaN  1.517200e+04  1986      4 1985-10-31    1985
1194308 1986-05-31     NaN  1.179388e+04  1986      5 1985-11-30    1985
...            ...     ...           ...   ...    ...        ...     ...
4175572 2023-08-31     NaN  8.191443e+08  2023      8 2023-02-28    2023
4181866 2023-09-30     NaN  7.954494e+08  2023      9 2023-03-31    2023
4188144 2023-10-31     NaN  6.384545e+08  2023     10 2023-04-30    2023
4194402 2023-11-30     NaN  7.631954e+08  2023     11 2023-05-31    2023
4200623 2023-12-31     NaN  7.898983e+08  2023     12 2023-06-30    2023

         ffmonth    1+retx
1169225        7       NaN
1175474        8  0.742857
1181734        9  1.365385
1188016       10  0.901408
1194308       11  0.777344
...          ...       ...
4175572        2  0.965038
4181866        3  0.969544
4188144        4  0.802654
4194402        5  1.195379
4200623        6  1.034988

[4204085 rows x 16 columns]
        permno       date  shrcd  exchcd  permco       ret      retx  \
315070   14403 1972-12-29     30       3       2       NaN       NaN
320758   14403 1973-01-31     30       3       2  0.179348  0.179348
326488   14403 1973-02-28     30       3       2  0.157272  0.129032
332239   14403 1973-03-30     30       3       2  0.146939  0.146939
337982   14403 1973-04-30     30       3       2  0.039146  0.039146
343695   14403 1973-05-31     30       3       2  0.164384  0.164384
349387   14403 1973-06-29     30       3       2  0.039464  0.020588
355026   14403 1973-07-31     30       3       2 -0.146974 -0.146974
360643   14403 1973-08-31     30       3       2  0.003378  0.003378
366235   14403 1973-09-28     30       3       2 -0.084175 -0.084175
371796   14403 1973-10-31     30       3       2 -0.014706 -0.014706
377339   14403 1973-11-30     30       3       2  0.041045  0.041045
382867   14403 1973-12-31     30       3       2  0.193548  0.193548
388334   14403 1974-01-31     30       3       2  0.117117  0.117117
393746   14403 1974-02-28     30       3       2  0.264971  0.236559
399134   14403 1974-03-29     30       3       2  0.221739  0.221739
404513   14403 1974-04-30     30       3       2 -0.080071 -0.080071
409877   14403 1974-05-31     30       3       2 -0.125725 -0.125725
415224   14403 1974-06-28     30       3       2 -0.024669 -0.050885
420539   14403 1974-07-31     30       3       2  0.233100  0.233100
425829   14403 1974-08-30     30       3       2 -0.098299 -0.098299
431096   14403 1974-09-30     30       3       2 -0.251572 -0.251572
436333   14403 1974-10-31     30       3       2  0.184874  0.184874
441549   14403 1974-11-29     30       3       2 -0.002364 -0.002364
446738   14403 1974-12-31     30       3       2 -0.158768 -0.158768
451915   14403 1975-01-31     30       3       2  0.016901  0.016901
457073   14403 1975-02-28     30       3       2  0.267851  0.218837
462212   14403 1975-03-31     30       3       2  0.043182  0.043182
467348   14403 1975-04-30     30       3       2 -0.093682 -0.093682
472475   14403 1975-05-30     30       3       2  0.105769  0.105769
477593   14403 1975-06-30     30       3       2  0.032936  0.006522
482729   14403 1975-07-31     30       3       2 -0.058315 -0.058315
487852   14403 1975-08-29     30       3       2 -0.128440 -0.128440
492978   14403 1975-09-30     30       3       2 -0.102632 -0.102632
498095   14403 1975-10-31     30       3       2 -0.020528 -0.020528
503213   14403 1975-11-28     30       3       2 -0.218563 -0.218563
508327   14403 1975-12-31     30       3       2  0.080460  0.080460
513441   14403 1976-01-30     30       3       2 -0.074468 -0.074468
518556   14403 1976-02-27     30       3       2  0.013829 -0.038314
523655   14403 1976-03-31     30       3       2 -0.239044 -0.239044
528757   14403 1976-04-30     30       3       2  0.146597  0.146597
533862   14403 1976-05-28     30       3       2  0.013699  0.013699
538960   14403 1976-06-30     30       3       2 -0.193100 -0.229730
544070   14403 1976-07-30     30       3       2 -0.140351 -0.140351
549199   14403 1976-08-31     30       3       2 -0.244898 -0.244898
554338   14403 1976-09-30     30       3       2  0.018018  0.018018
559474   14403 1976-10-29     30       3       2  0.141593  0.141593
564620   14403 1976-11-30     30       3       2  0.162791  0.162791
569757   14403 1976-12-31     30       3       2 -0.126667 -0.126667
574901   14403 1977-01-31     30       3       2  0.016273 -0.045802
580033   14403 1977-02-28     30       3       2  0.280000  0.280000
585148   14403 1977-03-31     30       3       2 -0.087500 -0.087500
590262   14403 1977-04-29     30       3       2 -0.068493 -0.068493
595376   14403 1977-05-31     30       3       2 -0.007353 -0.007353
600488   14403 1977-06-30     30       3       2  0.001586 -0.051852
605599   14403 1977-07-29     30       3       2  0.085938  0.085938
610710   14403 1977-08-31     30       3       2  0.007194  0.007194
615802   14403 1977-09-30     30       3       2  0.257143  0.257143
620880   14403 1977-10-31     30       3       2 -0.159091 -0.159091
625948   14403 1977-11-30     30       3       2  0.128378  0.128378

            jdate  retadj         me  year  month     ffdate  ffyear  ffmonth  \
315070 1972-12-31     NaN   504896.0  1972     12 1972-06-30    1972        6
320758 1973-01-31     NaN   595448.0  1973      1 1972-07-31    1972        7
326488 1973-02-28     NaN   672280.0  1973      2 1972-08-31    1972        8
332239 1973-03-31     NaN   771064.0  1973      3 1972-09-30    1972        9
337982 1973-04-30     NaN   801248.0  1973      4 1972-10-31    1972       10
343695 1973-05-31     NaN   932960.0  1973      5 1972-11-30    1972       11
349387 1973-06-30     NaN   952168.0  1973      6 1972-12-31    1972       12
355026 1973-07-31     NaN   812224.0  1973      7 1973-01-31    1973        1
360643 1973-08-31     NaN   814968.0  1973      8 1973-02-28    1973        2
366235 1973-09-30     NaN   746368.0  1973      9 1973-03-31    1973        3
371796 1973-10-31     NaN   735392.0  1973     10 1973-04-30    1973        4
377339 1973-11-30     NaN   765576.0  1973     11 1973-05-31    1973        5
382867 1973-12-31     NaN   913752.0  1973     12 1973-06-30    1973        6
388334 1974-01-31     NaN  1020768.0  1974      1 1973-07-31    1973        7
393746 1974-02-28     NaN  1262240.0  1974      2 1973-08-31    1973        8
399134 1974-03-31     NaN  1542128.0  1974      3 1973-09-30    1973        9
404513 1974-04-30     NaN  1418648.0  1974      4 1973-10-31    1973       10
409877 1974-05-31     NaN  1240288.0  1974      5 1973-11-30    1973       11
415224 1974-06-30     NaN  1177176.0  1974      6 1973-12-31    1973       12
420539 1974-07-31     NaN  1451576.0  1974      7 1974-01-31    1974        1
425829 1974-08-31     NaN  1308888.0  1974      8 1974-02-28    1974        2
431096 1974-09-30     NaN   979608.0  1974      9 1974-03-31    1974        3
436333 1974-10-31     NaN  1160712.0  1974     10 1974-04-30    1974        4
441549 1974-11-30     NaN  1157968.0  1974     11 1974-05-31    1974        5
446738 1974-12-31     NaN   974120.0  1974     12 1974-06-30    1974        6
451915 1975-01-31     NaN   990584.0  1975      1 1974-07-31    1974        7
457073 1975-02-28     NaN  1207360.0  1975      2 1974-08-31    1974        8
462212 1975-03-31     NaN  1259496.0  1975      3 1974-09-30    1974        9
467348 1975-04-30     NaN  1141504.0  1975      4 1974-10-31    1974       10
472475 1975-05-31     NaN  1262240.0  1975      5 1974-11-30    1974       11
477593 1975-06-30     NaN  1270472.0  1975      6 1974-12-31    1974       12
482729 1975-07-31     NaN  1196384.0  1975      7 1975-01-31    1975        1
487852 1975-08-31     NaN  1042720.0  1975      8 1975-02-28    1975        2
492978 1975-09-30     NaN   935704.0  1975      9 1975-03-31    1975        3
498095 1975-10-31     NaN   916496.0  1975     10 1975-04-30    1975        4
503213 1975-11-30     NaN   716184.0  1975     11 1975-05-31    1975        5
508327 1975-12-31     NaN   773808.0  1975     12 1975-06-30    1975        6
513441 1976-01-31     NaN   716184.0  1976      1 1975-07-31    1975        7
518556 1976-02-29     NaN   688744.0  1976      2 1975-08-31    1975        8
523655 1976-03-31     NaN   524104.0  1976      3 1975-09-30    1975        9
528757 1976-04-30     NaN   600936.0  1976      4 1975-10-31    1975       10
533862 1976-05-31     NaN   609168.0  1976      5 1975-11-30    1975       11
538960 1976-06-30     NaN   469224.0  1976      6 1975-12-31    1975       12
544070 1976-07-31     NaN   403368.0  1976      7 1976-01-31    1976        1
549199 1976-08-31     NaN   304584.0  1976      8 1976-02-29    1976        2
554338 1976-09-30     NaN   310072.0  1976      9 1976-03-31    1976        3
559474 1976-10-31     NaN   353976.0  1976     10 1976-04-30    1976        4
564620 1976-11-30     NaN   411600.0  1976     11 1976-05-31    1976        5
569757 1976-12-31     NaN   359464.0  1976     12 1976-06-30    1976        6
574901 1977-01-31     NaN   343000.0  1977      1 1976-07-31    1976        7
580033 1977-02-28     NaN   439040.0  1977      2 1976-08-31    1976        8
585148 1977-03-31     NaN   400624.0  1977      3 1976-09-30    1976        9
590262 1977-04-30     NaN   373184.0  1977      4 1976-10-31    1976       10
595376 1977-05-31     NaN   370440.0  1977      5 1976-11-30    1976       11
600488 1977-06-30     NaN   351232.0  1977      6 1976-12-31    1976       12
605599 1977-07-31     NaN   381416.0  1977      7 1977-01-31    1977        1
610710 1977-08-31     NaN   384160.0  1977      8 1977-02-28    1977        2
615802 1977-09-30     NaN   482944.0  1977      9 1977-03-31    1977        3
620880 1977-10-31     NaN   406112.0  1977     10 1977-04-30    1977        4
625948 1977-11-30     NaN   458248.0  1977     11 1977-05-31    1977        5

          1+retx   cumretx  lcumretx        lme  count
315070       NaN       NaN       NaN        NaN      0
320758  1.179348  1.179348       NaN   504896.0      1
326488  1.129032  1.331522  1.179348   595448.0      2
332239  1.146939  1.527174  1.331522   672280.0      3
337982  1.039146  1.586957  1.527174   771064.0      4
343695  1.164384  1.847827  1.586957   801248.0      5
349387  1.020588  1.885870  1.847827   932960.0      6
355026  0.853026  0.853026  1.885870   952168.0      7
360643  1.003378  0.855908  0.853026   812224.0      8
366235  0.915825  0.783862  0.855908   814968.0      9
371796  0.985294  0.772334  0.783862   746368.0     10
377339  1.041045  0.804034  0.772334   735392.0     11
382867  1.193548  0.959654  0.804034   765576.0     12
388334  1.117117  1.072046  0.959654   913752.0     13
393746  1.236559  1.325648  1.072046  1020768.0     14
399134  1.221739  1.619595  1.325648  1262240.0     15
404513  0.919929  1.489913  1.619595  1542128.0     16
409877  0.874275  1.302593  1.489913  1418648.0     17
415224  0.949115  1.236311  1.302593  1240288.0     18
420539  1.233100  1.233100  1.236311  1177176.0     19
425829  0.901701  1.111888  1.233100  1451576.0     20
431096  0.748428  0.832168  1.111888  1308888.0     21
436333  1.184874  0.986014  0.832168   979608.0     22
441549  0.997636  0.983683  0.986014  1160712.0     23
446738  0.841232  0.827506  0.983683  1157968.0     24
451915  1.016901  0.841491  0.827506   974120.0     25
457073  1.218837  1.025641  0.841491   990584.0     26
462212  1.043182  1.069930  1.025641  1207360.0     27
467348  0.906318  0.969697  1.069930  1259496.0     28
472475  1.105769  1.072261  0.969697  1141504.0     29
477593  1.006522  1.079254  1.072261  1262240.0     30
482729  0.941685  0.941685  1.079254  1270472.0     31
487852  0.871560  0.820735  0.941685  1196384.0     32
492978  0.897368  0.736501  0.820735  1042720.0     33
498095  0.979472  0.721382  0.736501   935704.0     34
503213  0.781437  0.563715  0.721382   916496.0     35
508327  1.080460  0.609071  0.563715   716184.0     36
513441  0.925532  0.563715  0.609071   773808.0     37
518556  0.961686  0.542117  0.563715   716184.0     38
523655  0.760956  0.412527  0.542117   688744.0     39
528757  1.146597  0.473002  0.412527   524104.0     40
533862  1.013699  0.479482  0.473002   600936.0     41
538960  0.770270  0.369331  0.479482   609168.0     42
544070  0.859649  0.859649  0.369331   469224.0     43
549199  0.755102  0.649123  0.859649   403368.0     44
554338  1.018018  0.660819  0.649123   304584.0     45
559474  1.141593  0.754386  0.660819   310072.0     46
564620  1.162791  0.877193  0.754386   353976.0     47
569757  0.873333  0.766082  0.877193   411600.0     48
574901  0.954198  0.730994  0.766082   359464.0     49
580033  1.280000  0.935672  0.730994   343000.0     50
585148  0.912500  0.853801  0.935672   439040.0     51
590262  0.931507  0.795321  0.853801   400624.0     52
595376  0.992647  0.789473  0.795321   373184.0     53
600488  0.948148  0.748537  0.789473   370440.0     54
605599  1.085938  1.085938  0.748537   351232.0     55
610710  1.007194  1.093750  1.085938   381416.0     56
615802  1.257143  1.375000  1.093750   384160.0     57
620880  0.840909  1.156250  1.375000   482944.0     58
625948  1.128378  1.304687  1.156250   406112.0     59
         permno       date  shrcd  exchcd  permco       ret      retx  \
1017591   26219 1960-06-30     10       1   23393  0.194444  0.194444
133267    11033 1960-02-29     10       1   22243 -0.036082 -0.036082
133268    11033 1960-03-31     10       1   22243 -0.013904 -0.026738
133269    11033 1960-04-29     10       1   22243 -0.060440 -0.060440
133270    11033 1960-05-31     10       1   22243 -0.029240 -0.029240
...         ...        ...    ...     ...     ...       ...       ...
717913    19505 2023-08-31     11       3   57142 -0.223757 -0.223757
717912    19505 2023-07-31     11       3   57142  0.112705  0.112705
717875    19504 2023-10-31     11       3   57141       NaN       NaN
4147679   92471 2023-08-31     11       3   52889 -0.028195 -0.028195
4204084   93436 2023-12-29     11       3   53453  0.034988  0.034988

             jdate  retadj            me  year  month     ffdate  ffyear  \
1017591 1960-06-30     NaN  7.615300e+04  1960      6 1959-12-31    1959
133267  1960-02-29     NaN  4.618900e+04  1960      2 1959-08-31    1959
133268  1960-03-31     NaN  4.495400e+04  1960      3 1959-09-30    1959
133269  1960-04-30     NaN  4.223700e+04  1960      4 1959-10-31    1959
133270  1960-05-31     NaN  4.100200e+04  1960      5 1959-11-30    1959
...            ...     ...           ...   ...    ...        ...     ...
717913  2023-08-31     NaN  2.114396e+06  2023      8 2023-02-28    2023
717912  2023-07-31     NaN  2.723883e+06  2023      7 2023-01-31    2023
717875  2023-10-31     NaN  0.000000e+00  2023     10 2023-04-30    2023
4147679 2023-08-31     NaN  7.092413e+05  2023      8 2023-02-28    2023
4204084 2023-12-31     NaN  7.898983e+08  2023     12 2023-06-30    2023

         ffmonth    1+retx   cumretx  lcumretx           lme  count  \
1017591       12  1.194444  0.898508  0.752239  6.375600e+04      5
133267         8  0.963918  0.984211  1.021053  4.791800e+04      1
133268         9  0.973262  0.957896  0.984211  4.618900e+04      2
133269        10  0.939560  0.900000  0.957896  4.495400e+04      3
133270        11  0.970760  0.873684  0.900000  4.223700e+04      4
...          ...       ...       ...       ...           ...    ...
717913         2  0.776243  0.863729  1.112705  2.723883e+06     37
717912         1  1.112705  1.112705  0.788050  2.437872e+06     36
717875         4       NaN       NaN  2.036940  9.910834e+04     39
4147679        2  0.971805  1.051526  1.082034  7.298189e+05    188
4204084        6  1.034988  0.949230  0.917141  7.631954e+08    162

               mebase            wt
1017591           NaN           NaN
133267            NaN           NaN
133268            NaN           NaN
133269            NaN           NaN
133270            NaN           NaN
...               ...           ...
717913   2.437872e+06  2.712633e+06
717912   2.437872e+06  2.437872e+06
717875   4.856537e+04  9.892474e+04
4147679  6.686765e+05  7.235307e+05
4204084  8.308579e+08  7.620140e+08

[4204085 rows x 22 columns]

In [8]:
decme['year'] = decme['year'] + 1
decme = decme[['permno', 'year', 'dec_me']]

crsp3_jun = crsp3[crsp3['month'] == 6]

crsp_jun = pd.merge(crsp3_jun, decme, how='inner', on=['permno', 'year'])
crsp_jun = crsp_jun[
    ['permno', 'date', 'jdate', 'shrcd', 'exchcd', 'retadj', 'me', 'wt', 'cumretx', 'mebase', 'lme', 'dec_me']]
crsp_jun = crsp_jun.sort_values(by=['permno', 'jdate'])

In [12]:
ccm = pd.read_csv("./ccm.csv")
ccm.columns = ccm.columns.str.lower()

ccm['gvkey'] = ccm['gvkey'].astype(str)
ccm['linkenddt'] = ccm['linkenddt'].fillna(pd.to_datetime('today'))
ccm['permno'] = ccm['lpermno'].astype(int)

ccm1 = pd.merge(comp[['gvkey', 'datadate', 'be', 'count','op','inv']], ccm, how='left', on=['gvkey'])
ccm1['yearend'] = ccm1['datadate'] + YearEnd(0)
ccm1['jdate'] = ccm1['yearend'] + MonthEnd(6)

ccm1['linkdt'] = pd.to_datetime(ccm1['linkdt'],errors='coerce')
ccm1['linkenddt'] = pd.to_datetime(ccm1['linkenddt'], errors='coerce')
ccm1['jdate'] = pd.to_datetime(ccm1['jdate'])

ccm2 = ccm1[(ccm1['jdate'] >= ccm1['linkdt']) & (ccm1['jdate'] <= ccm1['linkenddt'])]
print(ccm2.head(50))

      gvkey   datadate        be  count        op       inv linkprim linktype  \
9      1000 1970-12-31    10.544      9  0.430197  0.165018        P       LU
10     1000 1971-12-31     8.382     10  0.166428 -0.123169        P       LU
11     1000 1972-12-31     7.309     11  0.454919 -0.321275        P       LU
12     1000 1973-12-31     8.798     12  0.432939  0.093635        P       LU
13     1000 1974-12-31     8.279     13  0.483513  0.177622        P       LU
14     1000 1975-12-31    11.020     14  0.504265 -0.067595        P       LU
15     1000 1976-12-31    15.527     15  0.499517  0.614139        P       LU
16     1000 1977-12-31    17.673     16  0.246534  0.140958        P       LU
82   100004 2001-12-31  1073.960      1  0.432506  0.126266        P       LC
83   100004 2002-12-31  1338.202      2  0.490188  0.256755        P       LC
84   100004 2003-12-31  1862.740      3  0.407857  0.340720        P       LC
85   100004 2004-12-31  2259.255      4  0.431873  0.145662        P       LC
86   100004 2005-12-31  2407.362      5  0.398839  0.177341        P       LC
91    10001 1960-12-31       NaN      0       NaN       NaN        C       LU
94    10001 1961-12-31       NaN      1       NaN  0.017379        P       LU
96    10001 1962-12-31       NaN      2       NaN  0.024199        P       LU
98    10001 1963-12-31   323.712      3  0.247414  0.085244        P       LU
100   10001 1964-12-31   349.587      4  0.266514  0.075560        P       LU
102   10001 1965-12-31   377.766      5  0.296162  0.226434        P       LU
104   10001 1966-12-31   396.171      6  0.286593  0.025081        P       LU
106   10001 1967-12-31   426.427      7  0.297950  0.077032        P       LU
108   10001 1968-12-31   504.987      8  0.283591  0.132493        P       LU
110   10001 1969-12-31   956.962      9  0.144227  1.010600        P       LU
112   10001 1970-12-31  1015.437     10  0.121926  0.124665        P       LU
114   10001 1971-12-31  1042.303     11  0.119038  0.038874        P       LU
116   10001 1972-12-31  1086.252     12  0.128042 -0.007038        P       LU
118   10001 1973-12-31  1163.003     13  0.105382  0.089358        P       LU
120   10001 1974-12-31  1279.083     14  0.113408  0.335123        P       LU
122   10001 1975-12-31  1522.069     15  0.085675  0.609943        P       LU
124   10001 1976-12-31  1646.694     16  0.026487  0.483308        P       LU
126   10001 1977-12-31  1824.371     17  0.099868  0.242450        P       LU
128   10001 1978-12-31  2315.501     18  0.447364  0.070463        P       LU
130   10001 1979-12-31  3764.090     19  0.653967  0.106045        P       LU
132   10001 1980-12-31  5318.746     20  0.776843  0.311771        P       LU
134   10001 1981-12-31  6849.512     21  0.600865  0.303243        P       LU
136   10001 1982-12-31  8189.000     22  0.480889  0.017322        P       LU
138   10001 1983-12-31  9309.000     23  0.392416  0.021603        P       LU
140   10001 1984-12-31  9956.000     24  0.359180  0.068757        P       LU
142   10001 1985-12-31  9676.000     25  0.396342  0.048207        P       LU
144   10001 1986-12-31  9081.000     26  0.222773 -0.129569        P       LU
146  100011 2002-08-31  1315.460      1  0.572044  0.363368        P       LC
147  100011 2003-08-31  1689.288      2  0.467307  0.048553        P       LC
148  100011 2004-08-31  1184.637      3  0.759837 -0.017801        P       LC
157   10002 1969-12-31    10.533      4 -0.097328  0.076054        P       LC
159   10002 1970-12-31    11.534      5 -0.065491 -0.008188        P       LC
161   10002 1971-12-31    11.919      6 -0.045088  0.048263        P       LC
163   10002 1972-12-31    12.359      7 -0.013710  0.158253        P       LC
165   10002 1973-12-31    13.538      8  0.048763 -0.020488        P       LC
167   10002 1974-12-31    13.661      9 -0.020214 -0.034727        P       LC
169   10002 1975-12-31    15.390     10 -0.046892  0.135475        P       LC

     lpermno  lpermco     linkdt  linkenddt   permno    yearend      jdate
9    25881.0  23369.0 1970-11-13 1978-06-30  25881.0 1970-12-31 1971-06-30
10   25881.0  23369.0 1970-11-13 1978-06-30  25881.0 1971-12-31 1972-06-30
11   25881.0  23369.0 1970-11-13 1978-06-30  25881.0 1972-12-31 1973-06-30
12   25881.0  23369.0 1970-11-13 1978-06-30  25881.0 1973-12-31 1974-06-30
13   25881.0  23369.0 1970-11-13 1978-06-30  25881.0 1974-12-31 1975-06-30
14   25881.0  23369.0 1970-11-13 1978-06-30  25881.0 1975-12-31 1976-06-30
15   25881.0  23369.0 1970-11-13 1978-06-30  25881.0 1976-12-31 1977-06-30
16   25881.0  23369.0 1970-11-13 1978-06-30  25881.0 1977-12-31 1978-06-30
82   89402.0  43153.0 2002-05-22 2007-05-18  89402.0 2001-12-31 2002-06-30
83   89402.0  43153.0 2002-05-22 2007-05-18  89402.0 2002-12-31 2003-06-30
84   89402.0  43153.0 2002-05-22 2007-05-18  89402.0 2003-12-31 2004-06-30
85   89402.0  43153.0 2002-05-22 2007-05-18  89402.0 2004-12-31 2005-06-30
86   89402.0  43153.0 2002-05-22 2007-05-18  89402.0 2005-12-31 2006-06-30
91   21450.0  23070.0 1950-01-01 1962-01-30  21450.0 1960-12-31 1961-06-30
94   21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1961-12-31 1962-06-30
96   21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1962-12-31 1963-06-30
98   21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1963-12-31 1964-06-30
100  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1964-12-31 1965-06-30
102  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1965-12-31 1966-06-30
104  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1966-12-31 1967-06-30
106  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1967-12-31 1968-06-30
108  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1968-12-31 1969-06-30
110  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1969-12-31 1970-06-30
112  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1970-12-31 1971-06-30
114  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1971-12-31 1972-06-30
116  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1972-12-31 1973-06-30
118  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1973-12-31 1974-06-30
120  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1974-12-31 1975-06-30
122  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1975-12-31 1976-06-30
124  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1976-12-31 1977-06-30
126  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1977-12-31 1978-06-30
128  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1978-12-31 1979-06-30
130  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1979-12-31 1980-06-30
132  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1980-12-31 1981-06-30
134  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1981-12-31 1982-06-30
136  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1982-12-31 1983-06-30
138  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1983-12-31 1984-06-30
140  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1984-12-31 1985-06-30
142  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1985-12-31 1986-06-30
144  21450.0  23070.0 1962-01-31 1987-06-30  21450.0 1986-12-31 1987-06-30
146  89457.0  43334.0 2002-08-30 2005-07-22  89457.0 2002-12-31 2003-06-30
147  89457.0  43334.0 2002-08-30 2005-07-22  89457.0 2003-12-31 2004-06-30
148  89457.0  43334.0 2002-08-30 2005-07-22  89457.0 2004-12-31 2005-06-30
157  49699.0  25081.0 1969-12-10 1986-12-29  49699.0 1969-12-31 1970-06-30
159  49699.0  25081.0 1969-12-10 1986-12-29  49699.0 1970-12-31 1971-06-30
161  49699.0  25081.0 1969-12-10 1986-12-29  49699.0 1971-12-31 1972-06-30
163  49699.0  25081.0 1969-12-10 1986-12-29  49699.0 1972-12-31 1973-06-30
165  49699.0  25081.0 1969-12-10 1986-12-29  49699.0 1973-12-31 1974-06-30
167  49699.0  25081.0 1969-12-10 1986-12-29  49699.0 1974-12-31 1975-06-30
169  49699.0  25081.0 1969-12-10 1986-12-29  49699.0 1975-12-31 1976-06-30

In [13]:
ccm2 = ccm2[['gvkey', 'permno', 'datadate', 'yearend', 'jdate', 'be', 'count','op','inv']]

ccm2['permno'] = ccm2['permno'].astype(int)
crsp_jun['jdate'] = pd.to_datetime(crsp_jun['jdate'])

ccm_jun = pd.merge(crsp_jun, ccm2, how='inner', on=['permno', 'jdate'])

ccm_jun['beme'] = ccm_jun['be'] * 1000 / ccm_jun['dec_me']

In [14]:
nyse = ccm_jun[(ccm_jun['exchcd'].isin([1])) & (ccm_jun['beme'] > 0) & (ccm_jun['me'] > 0) & \
               (ccm_jun['count'] >= 1) & ((ccm_jun['shrcd'] == 10) | (ccm_jun['shrcd'] == 11))]

nyse_sz = nyse.groupby(['jdate'])['me'].median().to_frame().reset_index().rename(columns={'me': 'sizemedn'})

nyse_bm = nyse.groupby(['jdate'])['beme'].describe(percentiles=[0.3, 0.7]).reset_index()
nyse_bm = nyse_bm[['jdate', '30%', '70%']].rename(columns={'30%': 'bm30', '70%': 'bm70'})

/Users/benben/venv/lib/python3.10/site-packages/pandas/core/nanops.py:1016: RuntimeWarning: invalid value encountered in subtract
  sqr = _ensure_numeric((avg - values) ** 2)

In [15]:
nyse_op = nyse.groupby(['jdate'])['op'].describe(percentiles=[0.3, 0.7]).reset_index()
nyse_op = nyse_op[['jdate', '30%', '70%']].rename(columns={'30%': 'op30', '70%': 'op70'})

nyse_inv = nyse.groupby(['jdate'])['inv'].describe(percentiles=[0.3, 0.7]).reset_index()
nyse_inv = nyse_inv[['jdate', '30%', '70%']].rename(columns={'30%': 'inv30', '70%': 'inv70'})

nyse_breaks = pd.merge(nyse_sz, nyse_bm, how='inner', on='jdate')
nyse_breaks = pd.merge(nyse_breaks, nyse_op, how='inner', on='jdate')
nyse_breaks = pd.merge(nyse_breaks, nyse_inv, how='inner', on='jdate')

ccm1_jun = pd.merge(ccm_jun, nyse_breaks, how='left', on=['jdate'])

ccm1_jun['szport'] = np.where((ccm1_jun['beme'] > 0) & (ccm1_jun['me'] > 0) & (ccm1_jun['count'] >= 1),
                              ccm1_jun.apply(sz_bucket, axis=1), '')

ccm1_jun['bmport'] = np.where((ccm1_jun['beme'] > 0) & (ccm1_jun['me'] > 0) & (ccm1_jun['count'] >= 1),
                              ccm1_jun.apply(bm_bucket, axis=1), '')

ccm1_jun['opport'] = np.where((ccm1_jun['beme'] > 0) & (ccm1_jun['me'] > 0) & (ccm1_jun['count'] >= 1),
                              ccm1_jun.apply(op_bucket, axis=1), '')

ccm1_jun['invport'] = np.where((ccm1_jun['beme'] > 0) & (ccm1_jun['me'] > 0) & (ccm1_jun['count'] >= 1),
                               ccm1_jun.apply(inv_bucket, axis=1), '')

ccm1_jun['posbm'] = np.where((ccm1_jun['beme'] > 0) & (ccm1_jun['me'] > 0) & (ccm1_jun['count'] >= 1), 1, 0)
ccm1_jun['nonmissport'] = np.where((ccm1_jun['bmport'] != ''), 1, 0)

june = ccm1_jun[['permno', 'date', 'jdate', 'bmport', 'szport', 'posbm','opport','invport', 'nonmissport']]
june['ffyear'] = june['jdate'].dt.year

print(june)

        permno       date      jdate bmport szport  posbm opport invport  \
0        10000 1987-06-30 1987-06-30                    0
1        10001 1987-06-30 1987-06-30                    0
2        10001 1988-06-30 1988-06-30      H      S      1      W       C
3        10001 1989-06-30 1989-06-30      H      S      1      W       C
4        10001 1990-06-29 1990-06-30      M      S      1      N       A
...        ...        ...        ...    ...    ...    ...    ...     ...
241099   93433 2013-06-28 2013-06-30      M      S      1      R       C
241100   93433 2014-06-30 2014-06-30      L      S      1      W       C
241101   93433 2015-06-30 2015-06-30                    0
241102   93433 2016-06-30 2016-06-30                    0
241103   93435 2011-06-30 2011-06-30      M      S      1      N       A

        nonmissport  ffyear
0                 0    1987
1                 0    1987
2                 1    1988
3                 1    1989
4                 1    1990
...             ...     ...
241099            1    2013
241100            1    2014
241101            0    2015
241102            0    2016
241103            1    2011

[241104 rows x 10 columns]

/var/folders/vt/x4z4r3fd0xg5nszdcjd244900000gn/T/ipykernel_9071/1986807029.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  june['ffyear'] = june['jdate'].dt.year

In [17]:
crsp3 = crsp3[['date', 'permno', 'shrcd', 'exchcd', 'retadj', 'me', 'wt', 'cumretx', 'ffyear', 'jdate']]
ccm3 = pd.merge(crsp3,
                june[['permno', 'ffyear', 'szport', 'bmport','opport','invport', 'posbm', 'nonmissport']], how='left',
                on=['permno', 'ffyear'])

ccm4 = ccm3[(ccm3['wt'] > 0) & (ccm3['posbm'] == 1) & (ccm3['nonmissport'] == 1) &
            ((ccm3['shrcd'] == 10) | (ccm3['shrcd'] == 11))]

vwret_szbmopinv = ccm4.groupby(['jdate', 'szport', 'bmport','opport','invport']).apply(wavg, 'retadj', 'wt').to_frame().reset_index().rename(
    columns={0: 'vwret'})

vwret_szbm =ccm4.groupby(['jdate', 'szport', 'bmport']).apply(wavg, 'retadj', 'wt').to_frame().reset_index().rename(
    columns={0: 'vwret'})
vwret_szbm['szbmport'] = vwret_szbm['szport'] + vwret_szbm['bmport']

vwret_szop = ccm4.groupby(['jdate', 'szport', 'opport']).apply(wavg, 'retadj', 'wt').to_frame().reset_index().rename(
    columns={0: 'vwret'})
vwret_szop['szopport'] = vwret_szop['szport'] + vwret_szop['opport']

vwret_szinv = ccm4.groupby(['jdate', 'szport', 'invport']).apply(wavg, 'retadj', 'wt').to_frame().reset_index().rename(
    columns={0: 'vwret'})
vwret_szinv['szinvport'] = vwret_szinv['szport'] + vwret_szinv['invport']


szbm_factors = vwret_szbm.pivot(index='jdate', columns='szbmport', values='vwret').reset_index()
szop_factors = vwret_szop.pivot(index='jdate', columns='szopport', values='vwret').reset_index()
szinv_factors = vwret_szinv.pivot(index='jdate', columns='szinvport', values='vwret').reset_index()

vwret_n_szbm =ccm4.groupby(['jdate', 'szport', 'bmport'])['retadj'].count().reset_index().rename(columns={'retadj':'n_firms'})
vwret_n_szbm['szbmport']=vwret_n_szbm['szport']+vwret_n_szbm['bmport']
print(vwret_n_szbm)

vwret_n_szop =ccm4.groupby(['jdate', 'szport', 'opport'])['retadj'].count().reset_index().rename(columns={'retadj':'n_firms'})
vwret_n_szop['szopport']=vwret_n_szop['szport']+vwret_n_szop['opport']

vwret_n_szinv =ccm4.groupby(['jdate', 'szport', 'invport'])['retadj'].count().reset_index().rename(columns={'retadj':'n_firms'})
vwret_n_szinv['szinvport']=vwret_n_szinv['szport']+vwret_n_szinv['invport']

szbm_n_firms = vwret_n_szbm.pivot(index='jdate', columns='szbmport', values='n_firms').reset_index()
szop_n_firms = vwret_n_szop.pivot(index='jdate', columns='szopport', values='n_firms').reset_index()
szinv_n_firms = vwret_n_szinv.pivot(index='jdate', columns='szinvport', values='n_firms').reset_index()

/var/folders/vt/x4z4r3fd0xg5nszdcjd244900000gn/T/ipykernel_9071/233018615.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  vwret_szbmopinv = ccm4.groupby(['jdate', 'szport', 'bmport','opport','invport']).apply(wavg, 'retadj', 'wt').to_frame().reset_index().rename(
/var/folders/vt/x4z4r3fd0xg5nszdcjd244900000gn/T/ipykernel_9071/233018615.py:12: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  vwret_szbm =ccm4.groupby(['jdate', 'szport', 'bmport']).apply(wavg, 'retadj', 'wt').to_frame().reset_index().rename(
/var/folders/vt/x4z4r3fd0xg5nszdcjd244900000gn/T/ipykernel_9071/233018615.py:16: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  vwret_szop = ccm4.groupby(['jdate', 'szport', 'opport']).apply(wavg, 'retadj', 'wt').to_frame().reset_index().rename(
/var/folders/vt/x4z4r3fd0xg5nszdcjd244900000gn/T/ipykernel_9071/233018615.py:20: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  vwret_szinv = ccm4.groupby(['jdate', 'szport', 'invport']).apply(wavg, 'retadj', 'wt').to_frame().reset_index().rename(

          jdate szport bmport  n_firms szbmport
0    1961-07-31      S      L        0       SL
1    1961-08-31      S      L        0       SL
2    1961-09-30      S      L        0       SL
3    1961-10-31      S      L        0       SL
4    1961-11-30      S      L        0       SL
...         ...    ...    ...      ...      ...
4435 2023-12-31      B      L        0       BL
4436 2023-12-31      B      M        0       BM
4437 2023-12-31      S      H        0       SH
4438 2023-12-31      S      L        0       SL
4439 2023-12-31      S      M        0       SM

[4440 rows x 5 columns]

In [18]:
ff_nfirms = pd.DataFrame()
ff_factors = pd.DataFrame()

In [19]:
#SMB(B/M) = 1/3(small value + small Neutral + Small Growth) - 1/3(big value +big neutral + big growth)

ff_factors['SMB(B/M)'] = 1/3 * (szbm_factors['SH'] + szbm_factors["SM"] + szbm_factors['SL'])- 1/3 * (szbm_factors['BH'] + szbm_factors["BM"] + szbm_factors['BL'])

#SMB(OP) = 1/3(small robust + small Neutral + Small weak) - 1/3(big robust +big neutral + big weak)

ff_factors['SMB(OP)'] = 1 / 3 * (szop_factors['SR'] + szop_factors["SN"] + szop_factors['SW']) - 1 / 3 * (
        szop_factors['BR'] + szop_factors["BN"] + szop_factors['BW'])

#SMB(INV) = 1/3(small conservative + small Neutral + Small aggresive) - 1/3(big conservative +big neutral + big aggresive)
ff_factors['SMB(INV)'] = 1 / 3 * (szinv_factors['SC'] + szinv_factors["SN"] + szinv_factors['SA']) - 1 / 3 * (
        szinv_factors['BC'] + szinv_factors["BN"] + szinv_factors['BA'])

ff_factors['WSMB'] = 1/3 *  ff_factors['SMB(B/M)'] + 1/3 * ff_factors['SMB(OP)'] + 1/3 *  ff_factors['SMB(INV)']
ff_factors['date'] = szbm_factors['jdate']

#HML = 1/2(small value + big value) - 1/2(small growth + big growth)
ff_factors['WHML'] = 1/2 * (szbm_factors['SH'] + szbm_factors['BH']) - 1/2 * (szbm_factors['SL'] + szbm_factors['BL'])

#RMW = 1/2(small robust + big robust) - 1/2(small weak + big weak)

ff_factors['WRMW'] = 1/2 * (szop_factors['SR'] + szop_factors['BR']) - 1/2 * (szop_factors['SW'] + szop_factors['BW'])

#CMA = 1/2(small conservative + big conservative) - 1/2(small aggresive + big aggresive)
ff_factors['WCMA'] = 1 / 2 * (szinv_factors['SC'] + szinv_factors['BC']) - 1 / 2 * (
        szinv_factors['SA'] + szinv_factors['BA'])

#n_firms
ff_nfirms['B'] = szbm_n_firms['BH'] + szbm_n_firms['BM'] + szbm_n_firms['BL']
ff_nfirms['S'] = szbm_n_firms['SH'] + szbm_n_firms['SM'] + szbm_n_firms['SL']
ff_nfirms['SMB'] =  ff_nfirms['B'] +  ff_nfirms['B']

ff_nfirms['H'] = szbm_n_firms['BH'] + szbm_n_firms['SH']
ff_nfirms['L'] = szbm_n_firms['BL'] + szbm_n_firms['SL']
ff_nfirms['HML'] = ff_nfirms['H'] + ff_nfirms['L']

ff_nfirms['R'] = szop_n_firms['BR'] + szop_n_firms['SR']
ff_nfirms['W'] = szop_n_firms['BW'] + szop_n_firms['SW']
ff_nfirms['RMW'] = ff_nfirms['R'] + ff_nfirms['W']

ff_nfirms['C'] = szinv_n_firms['BC'] + szinv_n_firms['SC']
ff_nfirms['A'] = szinv_n_firms['BA'] + szinv_n_firms['SA']
ff_nfirms['CMA'] = ff_nfirms['C'] + ff_nfirms['A']

print(ff_nfirms)

       B    S  SMB    H    L  HML    R    W  RMW    C    A  CMA
0    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4    NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
745  2.0  0.0  4.0  0.0  1.0  1.0  1.0  0.0  1.0  0.0  2.0  2.0
746  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  0.0  1.0
747  1.0  0.0  2.0  1.0  0.0  1.0  1.0  0.0  1.0  0.0  1.0  1.0
748  2.0  2.0  4.0  2.0  0.0  2.0  2.0  0.0  2.0  0.0  1.0  1.0
749  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  NaN  0.0  NaN

[750 rows x 12 columns]

In [29]:
# data_file4 = os.path.join('.', "F-F_Research_Data_5_Factors_2x3.csv")
_ff = pd.read_csv('ff_5.csv', header=None, skiprows=4, sep=',', skipinitialspace=True)
_ff.columns = ['date', 'Mkt-RF', 'SMB', 'HML', 'RMW','CMA','RF']

_ff[['Mkt-RF', 'SMB', 'HML','RMW','CMA', 'RF']] = _ff[['Mkt-RF', 'SMB', 'HML', 'RMW','CMA','RF']].apply(pd.to_numeric, errors='coerce')
_ff[['Mkt-RF', 'SMB', 'HML', 'RMW','CMA','RF']] = _ff[['Mkt-RF', 'SMB', 'HML','RMW','CMA', 'RF']].astype(float)
_ff[['sdate']] = _ff[['date']].astype(str)
_ff70_24 = _ff[(_ff['sdate'] <= '202408') & (_ff['sdate'] >= '197001')&(_ff['sdate'].str.len() == 6) ]

_ff70_24['date'] = pd.to_datetime(_ff70_24['date'],format='%Y%m')
_ff70_24 = _ff70_24[['date', 'SMB', 'HML','RMW','CMA',]]
_ff70_24['date'] = _ff70_24['date'] + MonthEnd(0)

_ffcomp70_24 = pd.merge(_ff70_24, ff_factors[['date', 'WSMB','WHML','WRMW','WCMA']], how='inner', on=['date'])
_ffcomp70_24['WSMB'] = _ffcomp70_24['WSMB'] * 100
_ffcomp70_24['WHML'] = _ffcomp70_24['WHML'] * 100
_ffcomp70_24['WRMW'] = _ffcomp70_24['WRMW'] * 100
_ffcomp70_24['WCMA'] = _ffcomp70_24['WCMA'] * 100

diff_SMB = abs(_ffcomp70_24['WSMB'] - _ffcomp70_24['SMB'])
diff_HML = abs(_ffcomp70_24['WHML'] - _ffcomp70_24['HML'])
diff_RMW = abs(_ffcomp70_24['WRMW'] - _ffcomp70_24['RMW'])
diff_CMA = abs(_ffcomp70_24['WCMA'] - _ffcomp70_24['CMA'])

mean_abs_diff_SMB = diff_SMB.mean()
print(mean_abs_diff_SMB)
mean_abs_diff_HML = diff_HML.mean()
print(mean_abs_diff_HML)
mean_abs_diff_RMW = diff_RMW.mean()
print(mean_abs_diff_RMW)
mean_abs_diff_CMA = diff_CMA.mean()
print(mean_abs_diff_CMA)


_ffcomp70_24 = _ffcomp70_24.dropna(subset=['SMB', 'WSMB', 'HML', 'WHML', 'RMW', 'WRMW'])
_ffcomp70_24 = _ffcomp70_24[~_ffcomp70_24[['SMB', 'WSMB', 'HML', 'WHML', 'RMW', 'WRMW']].isin([np.inf, -np.inf]).any(axis=1)]

print(stats.pearsonr(_ffcomp70_24['SMB'], _ffcomp70_24['WSMB']))
print(stats.pearsonr(_ffcomp70_24['HML'], _ffcomp70_24['WHML']))
print(stats.pearsonr(_ffcomp70_24['RMW'], _ffcomp70_24['WRMW']))
print(stats.pearsonr(_ffcomp70_24['CMA'], _ffcomp70_24['WCMA']))

2.2417840912239946
2.2647314876821083
1.5702304250464232
1.5821229614476224
PearsonRResult(statistic=0.010594959569945247, pvalue=0.787943628929086)
PearsonRResult(statistic=0.1031687440471157, pvalue=0.008635508864960176)
PearsonRResult(statistic=0.022481784883094536, pvalue=0.5681234213664652)
PearsonRResult(statistic=0.10702832045484173, pvalue=0.006430932477593392)

/var/folders/vt/x4z4r3fd0xg5nszdcjd244900000gn/T/ipykernel_9071/3217116958.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  _ff70_24['date'] = pd.to_datetime(_ff70_24['date'],format='%Y%m')

In [26]:
_ff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    731 non-null    int64
 1   Mkt-RF  731 non-null    float64
 2   SMB     731 non-null    float64
 3   HML     731 non-null    float64
 4   RMW     731 non-null    float64
 5   CMA     731 non-null    float64
 6   RF      731 non-null    float64
dtypes: float64(6), int64(1)
memory usage: 40.1 KB